In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/drive/MyDrive/data/movies.csv')
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [6]:
df['rating'].value_counts()

R            3697
PG-13        2112
PG           1252
Not Rated     283
G             153
Unrated        52
NC-17          23
TV-MA           9
TV-PG           5
X               3
Approved        1
TV-14           1
Name: rating, dtype: int64

In [7]:
df['genre'].value_counts()

Comedy       2245
Action       1705
Drama        1518
Crime         551
Biography     443
Adventure     427
Animation     338
Horror        322
Fantasy        44
Mystery        20
Thriller       16
Family         11
Sci-Fi         10
Romance        10
Western         3
Musical         2
Music           1
History         1
Sport           1
Name: genre, dtype: int64

* name : 영화 제목
* rating : 영화 관람 등급
    * R : 17세 이상 관람가
    * PG-13 : 14세 이상 관람가
    * PG : 모든 연령 가능(부모 동반 요망)
    * Not Rated : 일반 극장에서 상영 불가
    * G : 전체 괌람가
    * Unrated : 무등급판(무삭제판?)
    * NC-17 : 청소년 관람불가
    * TV-MA : 청소년 관람불가 (드라마 시청등급)
    * TV- PG : 모든 연령 가능 (부모 동반 요망 - 드라마 시청등급)
    * X : 청소년 관람불과 / NC-17의 옛날 버전
    * Approved : ?
    * TV-14 : 15세 이상 관람가(드라마 시청등급)
* genre : 영화 장르
* year : 개봉 연도
* released : 개봉일
* score : IMDb 사용자 평가(평점)
* votes : 사용자 투표 수
* director : 감독
* writier : 영화 작가
* star : 주연 배우
* country : 개봉 국가
* budget : 영화 예산 -> 없는 경우 0
* gross : 영화 수익
* company : 제작사
* runtime : 영화 상영 시간